{% extends "layout.html.twig" %}
{% import "_macros.html.twig" as macros %}

{% block content %}
    <h2 class="u-pull-left">{{ area.name }}</h2>
    <div class="u-pull-right btn-link"><a href="{{ url_for('status:update', {'id': area.id}) }}">Update Tablet
            Status</a></div>
    <div class="u-cf"></div>

    <p>{{ area.expected|default('n/a') }} tablets assigned.</p>

    <table class="u-full-width">
        <thead>
        <tr>
            <th>Tablet</th>
            <th>Status</th>
            <th>Date</th>
            <th>Person</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for tablet in area.tablets %}
            <tr>
                <td><a href="{{ url_for("tablet:view", {"id": tablet.id}) }}">{{ tablet.code }}</a></td>
                <td>{{ macros.status(tablet.lastUpdate.state) }}</td>
                <td>
                    <time datetime="{{ tablet.lastUpdate.timestamp|date('c') }}">{{ tablet.lastUpdate.timestamp|date('D, M j Y - H:i:s') }}</time>
                </td>
                <td>{{ tablet.lastUpdate.who }}</td>
                <td>{{ tablet.lastUpdate.notes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><em>No Tablets are assigned to this area</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}