{% extends "layout.html.twig" %}
{% import "_macros.html.twig" as macros %}

{% block content %}
    <h2>{{ area.name }}</h2>

    <p>Expecting {{ area.expected|default('n/a') }} tablets.</p>

    <table>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Deployed w/ Cashiers</th>
            <th>Stored in Box</th>
            <th>At Trailer</th>
            <th>Total</th>
            <th>Person</th>
            <th>Notes</th>
        </tr>
        {% for status in area.statuses %}
            <tr>
                <td><time datetime="{{ status.datetime|date('c') }}">{{ status.datetime|date('D, M j Y - H:i:s') }}</time></td>
                <td>{{ macros.status(status.status) }}</td>
                <td class="num">{{ status.deployed }}</td>
                <td class="num">{{ status.stored }}</td>
                <td class="num">{{ status.recovered }}</td>
                <td class="num">{{ status.deployed + status.stored + status.recovered }}</td>
                <td>{{ status.actor }}</td>
                <td>{{ status.notes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6"><em>No Areas nor Status Updates available</em></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}