{% extends "layout.html.twig" %}

{% block content %}
    {{ form_start(form, {'action': action, 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.area) }}
    {% if form.tablet_updates %}
        {{ form_row(form.tablet_updates) }}
    {% endif %}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
    <script>
        function update_tablets() {
            let $area = $(this);
            let $target = $('#update_tablet_updates');
            $target.html('<div class="lds-ellipsis"><p style="text-align: center;">Loading</p><div></div><div></div><div></div><div></div></div>');

            const req = new Request(`{{ url_for('status:partial_tablets') }}?id=${$area.val()}`);
            fetch(req).then((response) => {
                if (!response.ok)
                    return;

                return response.text();
            }).then((text) => {
                let $parent = $target.parent();
                let $replacement = $('#update_tablet_updates', $(text));
                $target.remove();
                $parent.append($replacement);
            })
        }

        $(function () {
            let $area = $('#update_area');
            $area.on('change', update_tablets);
        })
    </script>
{% endblock js %}