{% extends "layout.html.twig" %}

{% block content %}
    {{ form_start(form, {'action': action, 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
    <script>
        function update_expected() {
        }

        function update_counts() {
            let $current = $('span#current');
            let $inputs = $('form[name=status] input.count-current');
            let current = 0;
            $inputs.each(function (idx, e) {
                current += parseInt($(e).val(), 10) || 0;
            });
            let $expected = $('span#expected');
            let $selected = $($('select#status_area').get(0).selectedOptions);
            let expected = $selected.data('expected') || 0;

            if (expected !== current) {
                current = '<span class="red bold">' + current + "</span>";
            } else {
                current = '<span class="green bold">' + current + "</span>";
            }
            expected = '<span class="bold">' + expected + "</span>"

            $expected.html("Expected tablets: " + expected);
            $current.html("Tablets currently counted: " + current);
        }

        $(function () {
            let $e = $('select#status_area');
            $e.parent().append('<span id="expected" class="space-me"></span><span id="current" class="space-me"></span>')
            $e.on('input', update_counts);
            $('form[name=status] input.count-current').on('input', update_counts);

            update_counts();
        })
    </script>
{% endblock js %}