{% extends "layout.html.twig" %}
{% import "_macros.html.twig" as macros %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Area</th>
            <th>Status</th>
            <th colspan="2">Tablets</th>
            <th>Date</th>
            <th>Name</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            {% for tablet in area.tablets %}
                <tr class="border-t border-slate-300">
                    {% if loop.first %}
                        <td rowspan="{{ loop.length }}"><a
                                    href="{{ url_for('area:view', { 'id': area.id }) }}">{{ area.name }}</a></td>
                        <td rowspan="{{ loop.length }}">Tent STATUS TBD</td>
                    {% endif %}
                    <td><a href="{{ url_for('tablet:view', {'id':tablet.id}) }}">{{ tablet.code }}</a></td>
                    <td>{{ macros.status(tablet.lastUpdate.state) }}</td>
                    <td>
                        <abbr title="{{ tablet.lastUpdate.timestamp|date('D, M j Y - H:i:s') }}">{{ tablet.lastUpdate.timestamp|time_diff }}</abbr>
                    </td>
                    {% if loop.first %}
                        <td rowspan="{{ loop.length }}">{{ tablet.lastUpdate.who }}</td>
                        <td rowspan="{{ loop.length }}">{{ tablet.lastUpdate.notes|default('-') }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr class="border-t border-slate-300">
                    <td><a href="{{ url_for('area:view', { 'id': area.id }) }}">{{ area.name }}</a></td>
                    <td>UNKNOWN</td>
                    <td colspan="5"><em>No tablets assigned to this area.</em></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="border-t border-slate-300">
                <td colspan="7"><em>No areas defined.</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block head %}
    <meta http-equiv="refresh" content="60">
{% endblock head %}