{% extends "layout.html.twig" %}
{% import "_macros.html.twig" as macros %}

{% block content %}
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Area</th>
            <th>Status</th>
            <th>Deployed w/ Cashiers</th>
            <th>Stored in Box</th>
            <th>At Trailer</th>
            <th>Total</th>
            <th>Person</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ url_for('area:view', { 'id': status.area.id }) }}">{{ status.area.name }}</a></td>
                <td>{{ macros.status_update(status.status, url_for('status:add', { 'id': status.area.id })) }}</td>
                <td class="num">{{ status.deployed }}</td>
                <td class="num">{{ status.stored }}</td>
                <td class="num">{{ status.recovered }}</td>
                <td class="num">{{ status.deployed + status.stored + status.recovered }}</td>
                <td>{{ status.actor }}</td>
                <td>{{ status.notes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"><em>No Areas nor Status Updates available</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block head %}
    <meta http-equiv="refresh" content="60">
{% endblock head %}