{% macro status(value) %}
    {% if value is null %}
        <span class="pill pill-grey">N/A</span>
    {% elseif value.value == "na" %}
        <span class="pill pill-grey">{{ value.readable }}</span>
    {% elseif value.value == "stored" or value.value == "trailer" %}
        <span class="pill pill-blue">{{ value.readable }}</span>
    {% elseif value.value == "deployed" %}
        <span class="pill pill-green">{{ value.readable }}</span>
    {% else %}
        <span class="pill pill-dark">{{ value.readable }}</span>
    {% endif %}
{% endmacro status %}

{% macro status_update(value, dest) %}
    {% if value is null %}
        <a href="{{ dest }}" class="pill pill-grey">N/A</a>
    {% elseif value.value == "na" %}
        <a href="{{ dest }}" class="pill pill-grey">{{ value.readable }}</a>
    {% elseif value.value == "stored" or value.value == "trailer" %}
        <a href="{{ dest }}" class="pill pill-blue">{{ value.readable }}</a>
    {% elseif value.value == "deployed" %}
        <a href="{{ dest }}" class="pill pill-green">{{ value.readable }}</a>
    {% else %}
        <a href="{{ dest }}" class="pill pill-dark">{{ value.readable }}</a>
    {% endif %}
{% endmacro status_update %}