<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title|default('Bluesfest Tablet Status') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        .pill {
            display: inline-block;
            height: 2rem;
            border-radius: 3rem;
            min-width: 10rem;
            text-align: center;
            font-weight: bold;
            vertical-align: baseline;
            white-space: nowrap;
            padding-top: 0.25rem;
        }

        .pill-grey {
            background-color: rgb(108, 117, 125);
            color: lavender;
        }

        .pill-blue {
            background-color: rgb(13, 110, 253);
            color: lavender;
        }

        .pill-green {
            background-color: rgb(25, 135, 84);
            color: lavender
        }

        .pill-red {
            background-color: rgb(220, 53, 69);
            color: lavender;
        }

        .pill-dark {
            background-color: rgb(33, 37, 41);
            color: lavender;
        }

        a.pill {
            text-decoration: none;
        }

        .green {
            color: rgb(25, 135, 84);
        }

        .red {
            color: rgb(220, 53, 69);
        }

        .bold {
            font-weight: bold;
        }

        form label {
            margin-right: 0.25rem;
        }

        form div {
            padding: 0.25rem 0;
        }

        form .error {
            color: darkred;
        }

        form .error ul {
            margin: 0.25rem 0;
        }

        ul.list-unstyled {
            list-style: none;
        }

        span.space-me {
            margin-left: 1rem;
            display: inline-block;
        }

        #header {
            background-color: hsl(210deg, 30%, 8%);
            color: lightblue;
            padding: 2em 6em;
            margin-bottom: 1em;
        }

        #header a {
            padding: 1em;
        }

        #header a, #header a:visited {
            color: lightblue;
        }

        #footer {
            margin-top: 0.75em;
            padding-top: 0.25em;
            border-top: darkgray solid 1px;
        }

        td, th {
            padding: 0.25em;
        }

        td.num {
            text-align: center;
        }
    </style>
    {% block head %}{% endblock head %}
</head>
<body>
<div id="header">
    <div class="container">
        <a href="{{ url_for('status:index') }}">Tablet Status</a>
        <a href="{{ url_for('status:add') }}">Update Tablet Status</a>
        <a href="{{ url_for('area:index') }}">Areas</a>
        <a href="{{ url_for('area:create') }}">Add Area</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
    </div>
</div>
<div class="container">
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">{% block footer %}<small>&copy; 2022 MagnaX Software - Built for
            Bluesfest</small>{% endblock footer %}</div>
</div>
<script src="/js/cash.min.js"></script>
{% block js %}{% endblock js %}
</body>
</html>