<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title|default('Bluesfest Tablet Status') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
    {% block head %}{% endblock head %}
</head>
<body>
<div id="header">
    <div class="container">
        <a href="{{ url_for('status:index') }}">Tablet Status</a>
        <a href="{{ url_for('status:add') }}">Update Tablet Status</a>
        <a href="{{ url_for('area:index') }}">Areas</a>
        <a href="{{ url_for('area:create') }}">Add Area</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
    </div>
</div>
<div class="container">
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">{% block footer %}<small>&copy; 2022 MagnaX Software - Built for
            Bluesfest</small>{% endblock footer %}</div>
</div>
<script src="/js/cash.min.js"></script>
{% block js %}{% endblock js %}
</body>
</html>
